{% extends 'base.html' %}

{% block title %}Eliminar Producto{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Eliminar Producto</h1>
                    <p class="text-center">¿Estás seguro de que deseas eliminar {{ producto.name }}?</p>
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-block mt-3" type="submit">Eliminar</button>
                    </form>
                    <a class="btn btn-secondary btn-block mt-3" href="{% url 'lista_productos' %}">Volver a la Lista</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
