<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{% url 'crear_producto' %}">Crear Producto</a>
    <ul>
    {% for producto in productos %}
        <li>
            <a href="{% url 'detalle_producto' producto.id %}">{{ producto.name }}</a> - ${{ producto.price }}
            <a href="{% url 'actualizar_producto' producto.id %}">Editar</a>
            <a href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
